{% extends 'base.html' %} {% block title %} Contact {% endblock title %} {%
block contactactive %} active {% endblock contactactive %} {% block body %}
<center>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h3 id="-connect-with-me">⚡ Contact</h3>
  <br />
  <br />
  <br />
  <h1>
    MADE BY :
    <br>
  Jigyasa Bhayana 0076803119 <br>
    Kartik Nawani 03476803119 <br>
    Vaishnavi Prakash 05376803119 <br>
    Navroop 05476803119
    
  </h1>
  
  <center>{% endblock body %}</center>
</center>
